[submodule "extern/glog"]
	path = extern/glog
	url = https://github.com/google/glog.git
[submodule "extern/mimalloc"]
	path = extern/mimalloc
	url = https://github.com/microsoft/mimalloc
[submodule "extern/gflags"]
	path = extern/gflags
	url = https://github.com/gflags/gflags.git
[submodule "extern/sparsehash"]
	path = extern/sparsehash
	url = https://github.com/sparsehash/sparsehash-c11.git
[submodule "20201025/extern/abseil-cpp"]
	path = 20201025/extern/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "20201025/extern/mimalloc"]
	path = 20201025/extern/mimalloc
	url = https://github.com/microsoft/mimalloc
[submodule "20201025/extern/spdlog"]
	path = 20201025/extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "20201025/extern/robin-map"]
	path = 20201025/extern/robin-map
	url = https://github.com/Tessil/robin-map
